__pycache__/*
tmp/__pycache__/*
tmp/bad_keywords.csv
tmp/endpoins
tmp/entrada
tmp/LIBS.json
tmp/LINGUAGENS.json
tmp/pag.html
tmp/params.json
tmp/saida
tmp/SGBDS.json
tmp/tools.json
tmp/TOOLS.txt
tmp/endpoints
tmp/linkedin.py
tmp/filter_keywords.json
dbdata/*
fake_params.json
linkedin (cópia).py
entrada
code.py

